// Código de Nav acá
nav {
    background: @nav-bg;
    border-bottom: 2px solid @nav-border;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @nav-font;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: @nav-font;
    text-decoration: none;
    font-size: 1.6rem;
}
nav ul li a:hover {
    background-color: @nav-font;
    color: @nav-border;
    cursor: pointer;
    font-size: large;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
nav h1{
    margin-bottom: 10px;
    font-size: 3.2rem;
}
@media @phone{
    nav{
        width: 100%;
    }
    nav ul li a{
        font-size: 10px;
    }
 }