.divContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.divContent button {
    font-size: 1em;
  text-align: center;
    margin-left: 2em;
    border-radius: 0.3em;
    border: 1px solid #f6f4e6;
    background-color: #82bf33;
    color: #0b1601;
    padding: 0.5em;
}

.divContent button:hover{
    background-color: #4f772d;
    color: #f6f4e6;
}